.list {
  @apply grid h-full rounded;
  width: clamp(15rem, 35vw, 20rem);
  grid-template-rows: auto minmax(0, 1fr);
}

.dropList {
  @apply absolute w-full bg-gray-200 p-2 min-h-full;
}

.draggingOver {
  composes: dropList;
  @apply bg-gradient-to-r to-blue-300 from-blue-400;
}

.dropListHorizontal {
  @apply flex flex-row min-w-full w-max min-h-full;
}

.draggingOverHorizontal {
  composes: dropListHorizontal;
}

.item {
  @apply bg-white rounded p-3 mb-2 select-none border-2 border-white;
}

.itemDragging {
  composes: item;
  @apply border-blue-400;
}
