.list {
  @apply grid h-full rounded;
  width: min(18rem, 80vw);
  grid-template-rows: auto minmax(0, 1fr);
}

.dropList {
  @apply absolute w-full bg-gray-200 p-2 min-h-full;
}

.draggingOver {
  @apply bg-gradient-to-r to-blue-300 from-blue-400;
}

.dropListHorizontal {
  @apply flex flex-row min-w-full w-max min-h-full;
}

.draggingOverHorizontal {
  @apply bg-gradient-to-r to-blue-300 from-blue-400;
}

.item {
  @apply block bg-white rounded p-3 mb-2 select-none border-2 border-white;
}

.itemDragging {
  @apply border-blue-500;
}

.highlight {
  @apply bg-blue-200 border-blue-500;
}
