* {
  position: relative;
}

#root {
  @apply grid h-screen w-max z-10 overflow-y-hidden;
  grid-template-rows: auto 1fr;
  grid-template-columns: auto auto;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

:focus {
  @apply focus:outline-none focus:ring focus:border-blue-300;
}
